 <!--bootom_nav.ejs-->
<!--MINTU VIPIN JOY-->
<!--301135483-->
<!--25/10/2010-->
 
 
 
 <!--Bottom Nav-->


 <footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <h6 class="display-6 navbar-text">&copy;Cpyright2020 All Rights Reserverd</h6>
    </nav>
  </footer>