<!--about.ejs-->
<!--MINTU VIPIN JOY-->
<!--301135483-->
<!--25/10/2010-->


<%- include partials/header.ejs %>


<%- include partials/main_nav.ejs %>





  <!--Main Content-->
  <main Class="container">
    <div class="jumbotron">
      <h1 class="display-4" style="color:DodgerBlue;"><img src="/Assets/images/mintu.jpg" width="150" alt=""><b> About Me</b> </h1>
      <p></p>
      <p  style="color:Red;"><b>MINTU VIPIN JOY</b></p>
    </div>
    <div class="jumbotron">
      <p>I am currently pursuing Software Engineering Technology -AI program at Centennial College, Toronto. I am a post graduated in Computer science
        and graduated in Information Technolgy. I have about 1 year of experience in Machine Learning and 2 years of experience in XML programming.
        I love to gather more knowledge in Artificial Intelligence and wish to be a part of AI technology. So I am not limited my area of interest in any particular technology or software.
      
      </p>
      <p><a href="/Assets/pdf/Mintu Vipin Joy Resume.pdf" download>Click here to download my Resume</a></p>

      <center><a href="/home" right>Previous </a></p><p><a href="/projects">Next</a></p></center>
    </div>
  </main>




<%- include partials/bottom_nav.ejs %>  

    
<%- include partials/footer.ejs %>


