<!--contacts.ejs-->
<!--MINTU VIPIN JOY-->
<!--301135483-->
<!--25/10/2010-->

<%- include partials/header.ejs %>


<%- include partials/main_nav.ejs %>





  <!--Main Content-->
  <main Class="container">
    <div class="jumbotron">
      <h2 class="display-4" style="color:DodgerBlue;"><b> Contact Information</b></h2>
      <ul>
        <li>Email: mvipinjo@my.centennialcollege.ca</li>
        <li>Mobile: (647)-894-6992</li>
        <li><a href="https://www.linkedin.com/in/mintu-vipin-joy-081363155/"  
          target="https://www.linkedin.com/in/mintu-vipin-joy-081363155/">Linkedin ID</a></li>
      </ul>  
      


      <center>
      
      <h3>Contact Me</h3>

      <form action="/home">
        <label for="fname">First Name</label><br>
        <input type="text" id="fname" name="fname" value=""><br>
        <label for="lname">Last Name:</label><br>
        <input type="text" id="lname" name="lname" value=""><br>
        <label for="lname">e-mail ID:</label><br>
        <input type="text" id="email" name="email" value=""><br>
        <label for="lname">Contact Number</label><br>
        <input type="text" id="number" name="number" value=""><br>
        <label for="lname">Message</label><br>
        <input type="text" id="message" name="message" value=""><br><br>
        <input type="submit" value="Submit">
      </form> 
    </center>
    <p></p>
      <center><a href="/services" right>Previous </a></p></center>
      
    
      
    </div>

   
  </main>




<%- include partials/bottom_nav.ejs %>  

    
<%- include partials/footer.ejs %>


