<!--home.ejs-->
<!--MINTU VIPIN JOY-->
<!--301135483-->
<!--25/10/2010-->


<%- include partials/header.ejs %>


<%- include partials/main_nav.ejs %>





  <!--Main Content-->
  <main Class="container">
    <div class="jumbotron">
      <center><h2 class="display-5"> * Welcome to <em><b>Mintu Vipin Joy</b></em>'s Express Portfolio *</h2>
      <i>This is my personal portfolio site, where you can find more about me; qualification,  projects and services.</i></center>
    </div>
    <div class="jumbotron">
        

        <center><h5 class="display-6" style="color:Tomato;"><i> <strong>"Take the advantages of technologies and help the people and the world"</strong></i></h5></center>
        
        <!--Links to other pages-->
        <ul>
            <li>
                <a href="/about">About Me</a>
            </li>
            <li>
                <a href="/projects">Projects</a>
            </li>
            <li>
                <a href="/services">Services</a>
            </li>
            <li>
                <a href="/contacts">Contact</a>
            </li>
        </ul>
    
    </div>
  </main>




<%- include partials/bottom_nav.ejs %>  

    
<%- include partials/footer.ejs %>


