<!--index.ejs-->
<!--MINTU VIPIN JOY-->
<!--301135483-->
<!--25/10/2010-->


<%- include partials/header.ejs %>


<%- include partials/main_nav.ejs %>





  <!--Main Content-->
  <main Class="container">
    <div class="jumbotron">
      <h2 class="display-6">  Who am I?</h2>
    </div>

    <div class="jumbotron">
      <h2 class="display-6">  Eductional Quaicfications </h2>
    </div>

    <div class="jumbotron">
      <h2 class="display-6">  Projects I worked </h2>
    </div>

    <div class="jumbotron">
      <h2 class="display-6">  Services from Me </h2>
    </div>

    <div class="jumbotron">
      <h2 class="display-6">  Contact Me </h2>
    </div>
  </main>




<%- include partials/bottom_nav.ejs %>  

    
<%- include partials/footer.ejs %>


