<!--projects.ejs-->
<!--MINTU VIPIN JOY-->
<!--301135483-->
<!--25/10/2010-->



<%- include partials/header.ejs %>


<%- include partials/main_nav.ejs %>





  <!--Main Content-->
  <main Class="container">
    <div class="jumbotron">
      <h1 class="display-4" style="color:DodgerBlue;"><b> Projects</b></h1>
    </div>
    <div class="jumbotron">
        <center><h3>Project 1: <u><b> Fraud detection in financial data using Machine Learning</b></u></h3></center>
        <center><p><img src="/Assets/images/design.png" width="400" alt=""></p></center>
        <p> To build a model that detects frauds in 
            financial data using Neo4j analysis and machine learning classification technique. 
            The application of my work is in the banking industry that makes the anomaly detection easier than before,
             Identify the hidden anomalies. I  used python programming in this project. For analyzing and storing data I used a graph database known as Neo4j.
               For computation, I used the graph kernel method and for classification I used SVM. I did this project as part of my post-graduation thesis submission. Successfully modelled the system using machine learning is shown above.

               
        </p>
        
        
    </div>

    <div class="jumbotron">
        <center><h3> Project 2:<u><b> Pandemic Waste E-management </b></u></h3></center>
        <center><p><img src="/Assets/images/wm.webp" width="300" alt=""></p></center>
        <p>As the world is going through this pandemic situation, non-biodegradable waste has multiplied. 
            So, it is high time to save our Earth and protect our environment from the piling up of disposals. This project consists of a kiosk for depositing the biodegradable waste such as cloth mask, and non bio-degradable waste such as PPE kits, plastic shields, other masks.
            We have a mobile application where users can register and while puting the waste in kiosks they will get some points. By using these points, they can purchase other things such as masks, PPE kits etc. from the app itself with additional discounts.
            The waste is collected by industrial people and recycled and the user for making other things such as engineered woods, shoes.
             This is my on-going project as part of my program at Centennial College.

               
        </p>
        
        
    </div>
    <div class="jumbotron">
        <center><h3> Project 3:<u><b>Functional Testing using Selenium IDE </b></u></h3></center>
        <center><p><img src="/Assets/images/ss.png" width="300" alt=""></p></center>
        <p> Selenium IDE is a very
            good framework for testing the user interface of a web application. Selenium IDE is a web based
            automation framework which uses different platform and programming languages Automation
            testing tools helps the tester to easily automate the whole testing process. Automation testing
            improves the accuracy and also save time of the tester as compared to the manual testing.
            Because of its simplicity, Selenium IDE should only be used as a prototyping tool, not an overall
            solution for developing and maintaining complex test suites. Build test case suite for a gmail login-logout page using Selenium IDE.
             I did this as a mini project for my post-graduate studies.

               
        </p>

        <!--Links to previous and next pages-->
        <center><a href="/about" right>Previous </a></p><p><a href="/services">Next</a></p></center>
    </div>

    
    
  </main>




<%- include partials/bottom_nav.ejs %>  

    
<%- include partials/footer.ejs %>


