<!--services.ejs-->
<!--MINTU VIPIN JOY-->
<!--301135483-->
<!--25/10/2010-->


<%- include partials/header.ejs %>


<%- include partials/main_nav.ejs %>





  <!--Main Content-->
  <main Class="container">
    <div class="jumbotron">
      <h1 class="display-4" style="color:DodgerBlue;"><b>Services</b></h1>
    </div>

    <div class="jumbotron">
      <!--includes images with services-->
        <ul>
            <p><img src="/Assets/images/ai.jpg" width="200" alt=""><b>   Artificial Intelligence</b></p>
            <p></p>
            <p><img src="/Assets/images/ml.jpeg" width="200" alt=""><b>  Machine Learning</b></p>
            <p></p>
            <p><img src="/Assets/images/py.jpg" width="200" alt=""><b> Python Programming</b></p>
            <p></p>
            <p><img src="/Assets/images/java.png" width="200" alt=""><b> Java Programming</b></p>

          </ul> 

          <!--Links to previous and next pages-->
          <center><a href="/projects" right>Previous </a></p><p><a href="/contacts">Next</a></p></center>
    </div>

    
  </main>




<%- include partials/bottom_nav.ejs %>  

    
<%- include partials/footer.ejs %>


